.footer {
  padding: 2rem;
  background-color: var(--purple-600);

  @media (min-width: 1280px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
  }
}

.footer__nav {
  margin-bottom: 5rem;

  @media (min-width: 1280px) {
    margin-bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 10rem;
  }
}

.footer-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  & + & {
    margin-top: 2rem;

    @media (min-width: 1280px) {
      margin-top: 0;
    }
  }
}

.footer-list__item {
  & + & {
    margin-top: 2rem;

    @media (min-width: 1280px) {
      margin-top: 1rem;
    }
  }
}

.footer-list__link {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  transition: color 150ms ease-in-out;

  &:hover {
    color: var(--yellow-500);
  }
}

.footer__info {
  text-align: center;

  @media (min-width: 1280px) {
    text-align: right;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  transition: color 150ms ease-in-out;

  &:hover {
    color: var(--yellow-500);
  }
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2.5rem;
  margin-bottom: 2rem;
}

.footer-social__link {
  --icon-color: white;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  svg {
    transition: fill 150ms ease-in-out;
  }

  &:hover {
    --icon-color: var(--yellow-500);
  }
}

.footer__copyright {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 1.2rem;
  color: var(--purple-200);
}
